fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
joblib
scikit-learn==1.5.1
pandas
requests
bs4
urlunshort3
whois
certifi
pydantic[email]
python-multipart
